img {
  width: 180px;
  height: auto;
}
main {
  font-size: 125%;
  display: flex;
  flex-direction: column;
  flex-basis: 90vw;
  align-items: center;
  padding: 2rem;
  background-color: rgb(172, 124, 239);
color: rgb(32, 2, 42);
}
section {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
section span {
  min-width: 50px;
  text-decoration:underline;
}
hr {
  height: 2px;
  color: rgb(27, 6, 63);
  width: 100%;
}
button {
  cursor: pointer
}